.filters {
  position: relative;
}
.filters form {
  z-index: 2;
  position: absolute;
  display: grid;
  width: 100%;
  height: 350px;
  grid-template-columns: 1fr repeat(2, minmax(max-content, 3fr)) 2fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: " . a b e" ". c d e";
  justify-content: start;
  align-content: start;
  background: rgb(72, 73, 75);
}
.filters form :nth-child(1) {
  grid-area: a;
}
.filters form :nth-child(2) {
  grid-area: b;
}
.filters form :nth-child(3) {
  grid-area: c;
}
.filters form :nth-child(4) {
  grid-area: d;
}
.filters form :nth-child(5) {
  grid-area: e;
}
.filters_box {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding-top: 50px;
}
.filters_box label {
  font-family: Work Sans;
  font-size: 20px;
  color: #cfcfcf;
}
.filters_box input[type="text"] {
  background: none;
  height: 35px;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  color: #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  width: 400px;
  outline: none;
}
.filters_box select {
  margin-top: 10px;
  cursor: pointer;
  background: rgb(105, 105, 105);
  width: 400px;
  height: 45px;
  font-size: 20px;
  color: #cfcfcf;
  border: none;
  outline: none;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.filters form input[type="submit"] {
  cursor: pointer;

  width: 80%;
  text-align: center;
  font-family: Work Sans;
  font-weight: 500px;
  font-size: 26px;
  background-color: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  border: none;
  color: #fff;
  height: 70px;
  border: 2px solid rgb(21, 139, 175);
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  transition: 0.3s ease-in-out;
}
.filters form input[type="submit"]:hover {
  color: #fff;
  background-color: rgb(21, 139, 175);
  transition: 0.3s ease-in-out;
}
.right {
  transform: translateX(100%);
  transition: 0.3s ease-in;
}
.left {
  animation: come-in 0.5s ease-in-out forwards;
}
@keyframes come-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
