<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>edit Client</title>

   <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="../static/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/font-awesome-4.7/css/font-awesome.min.css}">
    <link href="../static/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/font-awesome-5/css/fontawesome-all.min.css}">
    <link href="../static/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/mdi-font/css/material-design-iconic-font.min.css}">

    <!-- Bootstrap CSS-->
    <link href="../static/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor//bootstrap-4.1/bootstrap.min.css}">

    <!-- Vendor CSS-->
    <link href="../static/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/animsition/animsition.min.css}">
    <link href="../static/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}">
    <link href="../static/admin/vendor/wow/animate.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/wow/animate.css}">
    <link href="../static/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/css-hamburgers/hamburgers.min.css}">
    <link href="../static/admin/vendor/slick/slick.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/slick/slick.css}">
    <link href="../static/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/select2/select2.min.css}">
    <link href="../static/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all" th:href="@{/admin/vendor/perfect-scrollbar/perfect-scrollbar.css}">

    <!-- Main CSS-->
    <link href="../static/admin/css/theme.css" rel="stylesheet" media="all" th:href="@{/admin/css/theme.css}">




</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" th:href="@{/Admin/adminIndex}">
                            <img src="/admin/images/icon/logot.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo" style="background-color:#4b8fd0; ">
                <a th:href="@{/Admin/adminIndex}">
                            <img src="/admin/images/icon/logot.png" alt="CoolAdmin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar10 " style="background-color:#a9d6ff; ">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                       <li class="has-sub">
                            <a class="js-arrow" th:href="@{/Admin/adminIndex}">
                                <i class="fas fa-tachometer-alt"></i>Accueil</a>
                            
                        </li>
                       
                        <li>
                            <a th:href="@{/Admin/Index}">
                                <i class="fas fa-table"></i>mes clients</a>
                        </li>
                        <li>
                            <a th:href="@{../ArticleAdmin}">
                                <i class="fas fa-table"></i>mes Articles</a>
                        </li>
                       <li>
                            <a th:href="@{../ArticleClient}">
                                <i class="fas fa-table"></i>les Articles des clients</a>
                        </li>
                        <li>
                            <a th:href="@{../tableCommandeAdmin}">
                                <i class="fas fa-table"></i> les commandes </a>
                        </li>
                          <li>
                            <a th:href="@{../AnnonceAdmin}">
                                <i class="far fa-check-square"></i>ajouter annonce</a>
                        </li>
                       
                            </ul>
                     
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop" style="background-color:#4b8fd0; ">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                   
                                    
                              
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img th:src="@{getphoto(id=${UserConnecter.userId})}" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#" th:text="${UserConnecter.identifiant}"></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img th:src="@{getphoto(id=${UserConnecter.userId})}" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#" th:text="${UserConnecter.identifiant}"></a>
                                                    </h5>
                                                    <span class="email" th:text="${UserConnecter.email}"></span>
                                                </div>
                                            </div>
                                           
                                            <div class="account-dropdown__footer">
                                                <a th:href="@{../logout}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content" style="background-image: url('/admin/ima.jpg');background-size: cover;">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="card">
                                    <div class="card-header">les clients</div>
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center title-2">ajouter Nouveau Client</h3>
                                        </div>
                                        <hr>
							<form th:action="@{SaveClients}" method="post" th:object="${User}" enctype="multipart/form-data">
							<div class="form-group">
							
							<input type="text" th:field="*{identifiant}" class="form-control" id="name" placeholder="Nom"/>
							</div>
							<div class="form-group">
							<label class="contorl-label">Date naissance :</label>
							<input type="date" th:field="*{date}" class="form-control" />
							<span  class="text-danger" th:errors="*{date}"></span>
							</div>
							<div class="form-group">
							
							<input type="text" th:field="*{email}" class="form-control tableHeight" id="mail" placeholder="Email " />
							<span class="text-danger" th:errors="*{email}"></span>
							</div>
							<div class="form-group">
							<input type="password" th:field="*{password}" class="form-control" id="password" placeholder="mot de passe" />
							</div>
							
							
							
							<input type="file" name="picture" class="form-control" id="file" style="margin-bottom: 20px;"/>
							<span></span>
							
							<div>
							<button type="submit" class="btn btn-primary" onclick="return validateForm();">Enregistrer</button>
							</div>
							
							</form>
							<script >
 
 function validateForm(){
	 var name     = document.getElementById('name');
	 var mail     = document.getElementById('mail');
	 var password = document.getElementById('password');
	 var file     = document.getElementById('file');
 if(name.value == ""){
	 swal("Oops!", "Entrer le nom", "error");
	 return false;
 }
 if(password.value == ""){
	 swal("Oops!", "Entrer votre password", "error");
	 return false;
 }
 if(mail.value == ""){
	 swal("Oops!", "Entrer votre mail", "error");
	 return false;
 }
 
 if(file.value == ""){ 
	 swal("Oops!", "Entrer photo de profile", "error");
	 return false;
 }
 return( true );
 }

</script>
  </div>
                                </div>
                            </div>
                           
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <!-- Jquery JS-->
     <script src="../admin/vendor/jquery-3.2.1.min.js" th:href="@{/admin/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap JS-->
    <script src="../admin/vendor/bootstrap-4.1/popper.min.js" th:href="@{/admin/vendor/bootstrap-4.1/popper.min.js}"></script>
    <script src="../admin/vendor/bootstrap-4.1/bootstrap.min.js" th:href="@{/admin/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
    <!-- Vendor JS       -->
    <script src="../admin/vendor/slick/slick.min.js" th:href="@{/admin/vendor/slick/slick.min.js}">
    </script>
    <script src="../admin/vendor/wow/wow.min.js" th:href="@{/admin/vendor/wow/wow.min.js}"></script>
    <script src="../admin/vendor/animsition/animsition.min.js" th:href="@{/admin/vendor/animsition/animsition.min.js}"></script>
    <script src="../admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" th:href="@{/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
    </script>
    <script src="../admin/vendor/counter-up/jquery.waypoints.min.js" th:href="@{/admin/vendor/counter-up/jquery.waypoints.min.js}"></script>
    <script src="../admin/vendor/counter-up/jquery.counterup.min.js" th:href="@{/admin/vendor/counter-up/jquery.counterup.min.js}">
    </script>
    <script src="../admin/vendor/circle-progress/circle-progress.min.js" th:href="@{/admin/vendor/circle-progress/circle-progress.min.js}"></script>
    <script src="../admin/vendor/perfect-scrollbar/perfect-scrollbar.js" th:href="@{/admin/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script src="../admin/vendor/chartjs/Chart.bundle.min.js" th:href="@{/admin/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script src="../admin/vendor/select2/select2.min.js" th:href="@{/admin/vendor/select2/select2.min.js}">
    </script>

    <!-- Main JS-->
    <script src="../admin/js/main.js" th:href="@{/admin/js/main.js}"></script>

</body>

</html>
<!-- end document-->
